<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="../assets/on_logo__12.png" />
  <span>FlexDuck</span>
  <div class="spacer"></div>
  <button><a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://www.flexduck.com.br"
      title="FlexDuck ERP"></a>Acessar FlexDuck</button>
</div>

<div class="content" role="main">

  <!-- header -->
  <section class="info-system">
    <h3>FlexDuck > </h3>
    <div class="info-system-content">
      <div class="info-system-text">
        <h1>A gestão perfeita para o seu negócio</h1>
        <p>Apresentamos o sistema perfeito para auxiliar micro e pequenos <strong>empresários</strong>, <strong>MEIs</strong> e<br>
           profissionais <strong>autônomos</strong> no gerenciamento eficaz de seus negócios. Oferecemos um <br>
           conjunto abrangente de funcionalidades, abordando desde o controle do fluxo financeiro até <br>
           a administração do estoque, garantindo precisão em todas as etapas. Além disso, <br>
           permitimos a emissão simplificada de <strong>cupons fiscais</strong>, proporcionando conformidade com as <br>
           regulamentações vigentes. Com essa solução completa, você estará preparado para elevar <br>
          <strong>o nível de excelência de seus empreendimentos.</strong></p>
      </div>
      <div class="info-system-img">
        <img src="../assets/monitor.png" alt="">
      </div>
    </div>
  </section>

  <!-- Main -->

  <section class="info-system">
    <h3>Vantagens > </h3>
    <div class="info-system-content">

    </div>
  </section>
  <!-- Footer -->
  <footer>
    <span>Copyright © 2023 FlexDuck by FlexDuck. Todos os direitos reservados.</span>
  </footer>
</div>
