.spacer {
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: rgb(61, 61, 61);
  font-weight: 600;
  padding-inline: 5%;

  span {
    font-size: 2.2em;
    font-weight: bolder;
    color: rgb(248, 167, 46);
  }

  a {
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
    color: rgb(248, 167, 46);
    border: solid 1px rgb(248, 167, 46);
    background-color: #ffffff;
    color: rgb(248, 167, 46);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;

    &:hover {
      background-color: rgb(248, 167, 46);
      color: white;
      box-shadow: 4px 4px 8px rgba(238, 170, 67, 0.925);
      ;
    }

    // a {
    //   text-decoration: none;
    // }


  }

  // box-shadow: 4px 4px 10px rgb(163, 163, 163);
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;

  section {

    :last-child {
      margin-top: 3%;
    }
  }

  .info-system {
    width: 100%;

    h3 {
      text-align: start;
      font-size: 1.2em;
      font-weight: 500;
      color: grey;
    }

    .info-system-content {

      width: 100%;
      display: flex;
      // justify-content: space-around;

      .info-system-text {
        width: 60%;

        h1 {
          font-size: 3em;
          font-weight: bold;
        }

        p {
          font-size: 1.1em;
          line-height: 1.5em
        }

        strong {
          color: rgb(248, 167, 46);
        }
      }

      .info-system-img {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 75%;
          margin-top: -20px;
        }
      }

      .info-system-content-vantagens {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex-wrap: wrap;
        width: 100%;

        .card {
          width: 25rem;
          height: 18rem;

          border: none;
          border-radius: 10px;
          margin-left: 10px;
          padding-inline: 5px;
          transition: transform 0.3s ease;
          /* Adicionando uma transição suave */

          &:hover {
            transform: translateY(-25px);
            box-shadow: 3px 3px 10px rgb(175, 175, 175);
            /* Movendo o card para cima quando hover */
          }

          h1 {
            text-align: center;
            font-size: 2em;
            font-weight: bolder;

            strong {
              // text-align: center;
              font-size: 1.2em;
              font-weight: bolder;
              color: rgb(248, 167, 46);
              margin-top: 5px;
            }
          }

          span {
            margin-top: 2rem;
            display: block;
            text-align: justify;
            font-size: 1.2em;
            font-weight: 400;
            color: gray;
          }
        }
      }
    }
  }
}

.info-system-content-imgs {
  width: 100%;
  text-align: center;
  padding: 0;

  h1 {
    font-size: 2em;
    font-weight: bold;
    color: rgb(61, 61, 61);
  }

  .info-system-content-imgs-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .imgs-collum-a,
    .imgs-collum-c {
      height: 35rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .imgs-collum-info {
        width: 19rem;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;

        img {
          width: 4rem;
          height: 4rem;
          box-shadow: 0px 0px 10px gray;
          border-radius: 100%;
          margin: 1rem;
        }
      }

    }

    .imgs-collum-a {
      .imgs-collum-info {
        flex-direction: row-reverse;

        &:nth-child(1) {
          margin-right: -8rem;
        }

        &:nth-child(2) {
          margin-right: -4rem;
        }

        &:nth-child(3) {
          margin-right: -8rem;
        }

        .collum-info-text {
          flex-wrap: wrap;
          display: flex;
          flex-direction: column;
          // width: 20%;
          text-align: right;

          p {
            flex-wrap: wrap;
          }
        }

      }
    }

    .imgs-collum-b {
      padding-inline: 8rem;

      img {
        width: 35rem;
      }

    }

    .imgs-collum-c {
      .imgs-collum-info {

        &:nth-child(1) {
          margin-left: -8rem;
        }

        &:nth-child(2) {
          margin-left: -4rem;
        }

        &:nth-child(3) {
          margin-left: -8rem;
        }

        .collum-info-text {
          flex-wrap: wrap;
          display: flex;
          flex-direction: column;
          // width: 20%;
          text-align: left;

          p {
            flex-wrap: wrap;
          }
        }
      }
    }

  }

}



footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

span {
  color: rgb(136, 136, 136);
}


/* Responsive Styles */
@media screen and (max-width: 820px) {

  .toolbar {
    padding-inline: 0;

    span {
      font-size: 2em;
      font-weight: bolder;
      color: rgb(248, 167, 46);
    }
  }

  section {
    :last-child {
      margin-top: 3%;
    }
  }

  .info-system {
    width: 100%;

    .info-system-content {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .info-system-text {
        width: 100%;

        h1,
        p {
          width: 300px;
        }

      }

      .info-system-img {
        display: none;

        img {
          display: none;
        }
      }
    }
  }

}

@media screen and (max-width: 575px) {



  .toolbar {
    padding-inline: 0;

    span {
      font-size: 2em;
      font-weight: bolder;
      color: rgb(248, 167, 46);
    }
  }

  section {
    :last-child {
      margin-top: 3%;
    }
  }

  .info-system-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .info-system-text {
      width: 100%;

      h1,
      p {
        max-width: 412px;
      }
    }

    .info-system-img {
      display: none;

      img {
        display: none;
      }
    }
  }
}
