<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="../assets/on_logo__12.png" />
  <span>FlexDuck</span>
  <div class="spacer"></div>
  <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://www.flexduck.com.br"
    title="FlexDuck ERP">Acessar FlexDuck</a>
</div>

<div class="content" role="main">

  <!-- header -->
  <section class="info-system">
    <h3>FlexDuck > </h3>
    <div class="info-system-content">
      <div class="info-system-text">
        <h1>A gestão perfeita para o seu negócio</h1>
        <p>Apresentamos o sistema perfeito para auxiliar micro e pequenos <strong>empresários</strong>,
          <strong>MEIs</strong> e<br>
          profissionais <strong>autônomos</strong> no gerenciamento eficaz de seus negócios. Oferecemos um <br>
          conjunto abrangente de funcionalidades, abordando desde o controle do fluxo financeiro até <br>
          a administração do estoque, garantindo precisão em todas as etapas. Além disso, <br>
          permitimos a emissão simplificada de <strong>cupons fiscais</strong>, proporcionando conformidade com as <br>
          regulamentações vigentes. Com essa solução completa, você estará preparado para elevar <br>
          <strong>o nível de excelência de seus empreendimentos.</strong>
        </p>
      </div>
      <div class="info-system-img">
        <img src="../assets/mockup_vendas.png" alt="">
      </div>
    </div>
  </section>

  <!-- Main -->

  <section class="info-system">
    <h3>Vantagens > </h3>
    <div class="info-system-content">
      <div class="info-system-content-vantagens">
        <div class="card">
          <h1>Estoque <strong>></strong></h1>
          <span>Otimize seu estoque em tempo real para evitar excessos e escassez. Nosso sistema oferece controle
            preciso, mantendo seus clientes satisfeitos e operações eficientes.</span>
        </div>
        <div class="card">
          <h1>Financeiro <strong>></strong></h1>
          <span>Mantenha suas finanças sob controle, incluindo contas a receber e a pagar. Nosso sistema oferece
            insights para decisões financeiras sólidas, preparando o terreno para crescimento seguro. Gerencie suas
            operações financeiras com eficiência e confiança.</span>
        </div>
        <div class="card">
          <h1>Vendas <strong>></strong></h1>
          <span>Desfrute da facilidade de vender através do nosso sistema intuitivo. Personalize estratégias, aumente a
            fidelidade do cliente e preveja a demanda, tudo em uma plataforma simplificada.</span>
        </div>
      </div>
    </div>
  </section>

  <!-- novo -->

  <section class="info-system">
    <h3>Eficiência > </h3>
    <div class="info-system-content-imgs">
      <h1>Diversas funcionalidades para gerenciar seu negócio</h1>
      <div class="info-system-content-imgs-container">
        <div class="imgs-collum-a">
          <div class="imgs-collum-info">
            <img src="../assets/vecteezy_3d-illustration-financial-management-concept-and-investment_15153188_532.png"
              alt="">
            <div class="collum-info-text">
              <p>Titulo</p>
              <p>descrição teste</p>
            </div>
          </div>
          <div class="imgs-collum-info">
            <img src="../assets/vecteezy_3d-illustration-financial-management-concept-and-investment_15153188_532.png"
              alt="">
            <div class="collum-info-text">
              <p>Titulo</p>
              <p>descrição teste</p>
            </div>
          </div>
          <div class="imgs-collum-info">
            <img src="../assets/vecteezy_3d-illustration-financial-management-concept-and-investment_15153188_532.png"
              alt="">
            <div class="collum-info-text">
              <p>Titulo</p>
              <p>descrição teste</p>
            </div>
          </div>
        </div>
        <div class="imgs-collum-b">
          <img src="../assets/mockup_solutions.png" alt="soluction image">
        </div>
        <div class="imgs-collum-c">
          <div class="imgs-collum-info">
            <img src="../assets/vecteezy_3d-illustration-financial-management-concept-and-investment_15153188_532.png"
              alt="">
            <div class="collum-info-text">
              <p>Titulo</p>
              <p>descrição teste</p>
            </div>
          </div>
          <div class="imgs-collum-info">
            <img src="../assets/vecteezy_3d-illustration-financial-management-concept-and-investment_15153188_532.png"
              alt="">
            <div class="collum-info-text">
              <p>Titulo</p>
              <p>descrição teste</p>
            </div>
          </div>
          <div class="imgs-collum-info">
            <img src="../assets/vecteezy_3d-illustration-financial-management-concept-and-investment_15153188_532.png"
              alt="">
            <div class="collum-info-text">
              <p>Titulo</p>
              <p>descrição teste</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer>
    <span>Copyright © 2023 FlexDuck by FlexDuck. Todos os direitos reservados.</span>
  </footer>
</div>
